/* EXAMPLE 2 */

.example2 .HBar rect {
  fill: #4D386C
}

.example2 .HBar .inside {
  fill: white
}

.example2 .HBar .outside {
  fill: white
}

.example2 .HBar .axis {
  stroke: #4D386C;
}

.example2 .HBar .focused {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px
}
