.HBar{
  border: 1px dashed rgba(255, 255, 255, 0.13);
  background: #222222;
  padding-right: 2%
}

.HBar rect {
  fill: #018670
}

.HBar .tips text{
  dominant-baseline: central;
  pointer-events: none;
}

.HBar .inside {
  fill: white
}

.HBar .outside {
  fill: white
}
